# SQLite database files
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# SQLite Journal Files
*.db-journal

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
